<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %p] [%t] (%F:%L\) - %m%n" />
        </Console>

        <RollingFile name="dsearch_file" fileName="./logs/dsearch.log"
                     filePattern="./logs/dsearch-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %p] [%t] (%F:%L\) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="indexer_file" fileName="./logs/dsearch-indexer.log"
                     filePattern="./logs/dsearch-indexer-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %p] [%t] (%F:%L\) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="errorFile" fileName="./logs/error.log"
                     filePattern="./logs/error-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %p] [%t] (%F:%L\) - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
<!--        <Root level="info" additivity="false">-->
<!--            <AppenderRef ref="console" />-->
<!--        </Root>-->

        <Logger name="com.danawa.dsearch.server" level="all" additivity="false" >
            <AppenderRef ref="dsearch_file" />
            <AppenderRef ref="errorFile" />
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="com.danawa.dsearch.indexer" level="all" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="indexer_file" />
            <AppenderRef ref="errorFile" />
        </Logger>
    </Loggers>
</Configuration>